<%# <%= form_for(@line, :html => {:class => "form-horizontal"}) do |f| %1> %>
<%#   <% if @line.errors.any? %1> %>
<%#     <div id="error_explanation"> %>
<%#       <h2><%= pluralize(@line.errors.count, "error") %1> stopped this line from going forward:</h2> %>
<%#       <ul> %>
<%#        <% @line.errors.full_messages.each do |msg| %1> %>
<%#          <li><%= msg %1></li> %>
<%#        <% end %1> %>
<%#       </ul> %>
<%#      </div> %>
<%#   <% end %1> %>

<%#   <h2>Add to this...</h2> %>
<%#   <p>dummy text for now</p> %>
<%#   <div class="form-group"> %>
<%#     <%= f.text_field :text, :class => "form-control" %1><br> %>
<%#   </div> %>
