<%= render 'form' %>

<%# prevpayam %>
<p class='markee'>
Title: 
<a href='/payams/"+tuba[position]['id']+"'>"+tabble+"
</a>
</p>
<div class='flex-container' style='justify-content: space-around'>
    <div class='container'>
        <p>
        <a id='scorps' data-id='"+prevPosition+"' onclick='prevPayam("+playerId+")'>
            Previous
        </a>
        </p>
    </div>
    <div class='container'>
        <p>
        <a id='iron_maiden' data-id='"+nextPosition+"' onclick='firstPayam("+playerId+")'>
            Next one...
        </a>
        </p>
    </div>
</div>


<%# firstpayam %>
<p class='markee'>
Title: 
<a href='/payams/"+tuba[position]['id']+"'>"+tabble+"
</a>
</p>
<div class='flex-container' style='justify-content: space-around'>
    <div class='container'>
        <p>
        <a href='#' id='scorps' data-id='"+prevPosition+"' onclick='prevPayam("+playerId+")'>
            Previous
        </a>
        <p>
    </div>
    <div class='container'>
        <p>
        <a href='#' id='iron_maiden' data-id='"+nextPosition+"' onclick='firstPayam("+playerId+")'>
            Next one...
        </a>
        </p>
    </div>
</div>

