<div class="btn-holder" data-id="<%= payam.id %>">
    <button class="js-preview btn btn-default" data-id="<%= payam.id %>" onclick="previewIt(this)">Preview...</button>
</div>

<div id="preview-payam-<%=payam.id%>"></div>
<hr>
