<div class="btn-holder" data-id="<%= payam.id %>">
  <button class="js-preview btn btn-default" data-id="<%= decomp.id %>" onclick="previewIt(this)">Preview...</button>
</div>

<div id="preview-payam-<%=decomp.id%>"></div>
<hr>
