      <%# <div class="container" style="border-bottom: 1px dotted; border-color: #dab4e4; padding-bottom: 20px"> %>
      <%#   <div class="col-sm-6"> %>
      <%#     <p><span class="biginner">P</span>ick a style from a list...</p> %>
      <%#     <div class="form-group col-sm-12"> %>
      <%#       <%= f.collection_select(:style_id, Style.all, :id, :name, {:include_blank => "Select a Style"}, :class => "form-control") %1> %>
      <%#     </div><!--form-group--> %>
      <%#   </div><!--col-sm-6--> %>
      <%#   <div class="col-sm-6"> %>
      <%#     <p><span class="biginner">O</span>r make up a new style.</p> %>
      <%#     <div class="form-group col-sm-12"> %>
      <%#       <%= f.fields_for :style, @style do |style_name| %1> %>
      <%#         <%= style_name.text_field :name, :placeholder => "Create a new one", :class => "form-control"%> %>
      <%#       <% end %1> %>
      <%#     </div><!--form-group--> %>
      <%#   </div><!--col-sm-6--> %>
      <%# </div><!--container--> %>
      <%# <div class="container"> %>
      <%#   <div class="col-sm-12"> %>
      <%#     <p><span class="biginner">P</span>rovide a one-word title to guide the later authors</p> %>
      <%#     <div class="form-group col-sm-6"> %>
      <%#       <%= f.text_field :title, :placeholder => "one-word title", class: "form-control" %1><br> %>
      <%#     </div> %>
      <%#   </div> %>
      <%# </div> %>

  <p>DOES THIS WORK</p>
