<div class="flex-container-column base-plaque-new-payam bottom-border-dotted">
    <div class="flex-container-column payam-form-heading">
        <div class="container payam-title">
            <div id="base-purp"><%= link_to "#{payam.title}", payam_path(payam) %></div>
        </div><!--payam-title-->
        <div class="container btn-holder" data-id="<%= payam.id %>" style="padding: 5px">
            <button class="js-preview btn btn-default" data-id="<%= payam.id %>" onclick="previewIt(this)">SHOW</button>
        </div><!--btn-holder-->
        <div id="preview-payam-<%=payam.id%>">
        </div><!--preview-payam-->
    </div><!--flex-container-column-->
</div><!--flex-container-column base-plaque-new-payam-->
<hr>
