<div class="flex-container-column inlay-holder" style="margin-top: 10px;">
    <div class="flex-container plaque">
        <div class="container plaque-letters">
            SUCH STYLE
        </div><!--plaque-letters-->
    </div><!--plaque-->
    <div class="flex-container overlay">
        <div class="container payam-title">
            <%# TITLE %>
            <div style="text-decoration: underline">Payams in the <%="#{style.name}"%> style</div>
        </div><!--container-->
    </div><!--overlay-->
</div><!--inlay-holder-->

