<div class="container text-boxer goudy">
<% if @payams.empty? %>
  <p><em>None to show yet. Maybe <%= link_to "Start one of your own", new_payam_path %>?</em></p>
<% else %>

  <% @payams.each do |payam| %>
    <p>Check out <span id="base-purp"><%= "#{payam.title}" %></span> in the <%= link_to "#{payam.style.name}", payam_path(payam) %> style.</p>
  <% end %>

<% end %>
</div>
