<div class="flex-container goudy text-boxer" style="padding: 25px">
  <h1>About Payam</h1>
  <div class="container">
    <h3 id="base-purp">What is this thing?</h3>
    <div class="container">
      <p>This thing is a kind of game made popular by the surrealists in the 1920's. It has been referred to as <a href="https://en.wikipedia.org/wiki/Exquisite_corpse">"Exquisite Corpse"</a> and that is what I called this at first, but that was too ghoulish.</p>
    </div>
    <h3 id="base-purp">Sure, not <span style="font-style: italic">Corpse,</span> but why <span style="font-style: italic">Payam?</span></h3>
    <div class="container">
      <p>Good question.</p>
    </div>
    <h3 id="base-purp">Thank You.</h3>
    <div class="container">
      <p>You are welcome.</p>
    </div>
    <h3 id="base-purp">Okay, will you just tell me?</h3>
    <div class="container">
      <p>Yes. I was looking for a word in a different language and found this word, "payam" which basically means "message"--but it's a bastardized spelling and I can't pronounce the orignial word nor can I actually spell it.</p>
    </div>
    <h3 id="base-purp">But you kept the word anyway?</h3>
    <div class="container" style="border-bottom: solid 1px; padding-bottom: 15px">
      <p>It was late. I was out of ideas. It is what it is. Payam.</p>
    </div>
    <div style="padding-top: 25px">
      <p><%= button_to "Home", root_path, {method: :get, class: "btn btn-default"} %></p>
    </div>
  </div>
</div>
