<div class="flex-container top-plaque">
              <p id="dubs"><%= link_to "#{c.title}", payam_path(c) %></p>
              <%# <p><em><%=link_to "Delete", c, method: :delete, data: { confirm: "You sure?" } %1></em></p> %>
            </div><!--flex-container-->

