//FONTS//

/*some not in use*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Bangers|Dosis|Playfair+Display+SC|Inconsolata|Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton|Asap|Fjalla+One');

//*COLORS*//

$default-background: #eeeff4;
$default-text: #111;
$light-purp: #9da5c0;
$base-purp: #495786;
$blue-comp: #717ca2;
$yellow-comp: #efe39d;
$brown-comp: #efc59d;
$brown-comp-2: #c69261;
$border-color: #dab4e4;
$last-lines: #b29bc1;
// $super-light-purp: #fff1e5; too peachy
// $super-light-purp: #edeff4; cannot notice it
// $super-light-purp: #cfd6e6; too dark
$super-light-purp: #dbe0ee;

#blue-comp {
    color: $blue-comp;
}

#base-purp {
    color: $base-purp;
}

#last-lines {
    color: $last-lines;
}

.base-purp {
    color: $base-purp;
}

.bottom-border-dotted {
    border-bottom: 1px dotted $border-color;
}

#bottom-border-dotted {
    border-bottom: 1px dotted $border-color;
}

//*TEXT MANIPULATION*//

/*italic*/
.em {
    font-style: italic;
}

/*capitalize all*/
.capitalizer {
    text-transform: uppercase;
}
//*BODY*//

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: "Asap",  Helvetica Neue, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 1000px;
    background-image: inherit;
    background-size: inherit;
    background-color: inherit;
    padding-bottom: 20px;
    color: $default-text;
    text-align: center;
}

//*HEADER*//

#navbar a {
    text-decoration: none; 
    color: $default-background;
    opacity: .82;
}

#navbar a:hover {
    color: $brown-comp;
}

#dead-link a:hover {
    color: $default-background;
}

#brando {
    // text-decoration: none; 
    color: $default-background;
    opacity: .82;
}


#navbarCollapse ul.dropdown-menu a {
    color: $base-purp;
}

//*BANNER*//

/*for cover background picture as top banner on all pages*/
html {
    min-height: 100%;
    position: relative;
    background-color: $default-background;
}
#banner {
    background: url('vache-text.jpg') no-repeat 50% 25%;
    width: 100%;
    min-height: 240px;
}

#banner h1 {
    color: #FFF;
    padding-top: 20px;
    font-size: 164px;
    letter-spacing: 19px;
    opacity: .62;
}

//*FOOTER*//

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #444;
    text-align: center;
}

//*RANDOM FORMATTING*//

.jumbotron {
    background-color: inherit;
}

.markee {
    font-size: 32px;
}

.markee a {
    cursor: pointer;
}
/*used on payam show page and player page*/
.text-boxer {
    // padding: 15px;
    border: none;
}

#decomp-holder {
    margin: 10px;
    padding: 10px; 
}

.PageContent {
    color: #111;
    max-width: 1255px;
    padding: 0 25px;
    margin: 0 auto;
    // font-size: 62.5%;
    line-height: 1.15;
    border-bottom: solid 2px;
}

#scratch {
    min-height: 100px;
    width: 100%;
    position: relative;
    justify-content: center; 
    align-items: center; 
}
.dubs {
    font-size: 24px;
    padding: 10px;
}


.box-label {
}

//*ANIMATIONS*//

/*for decomp on payam show page*/
@keyframes outFader {
    from {color: red; opacity: 1.3}
    to {color: red; opacity: 0.0};
}
@keyframes inFader {
    from {color: red; opacity: 0.0}
    to {color: black; opacity: 1.0};
}
.fadeOut {
    color: red;
    animation: outFader 3s;
    animation-fill-mode: forwards;
}
.fadeIn {
    animation: inFader 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

//*ERRORS AND ALERTS*//

/*custom error fields*/
.form_errors { color: red }

.field_with_errors {
    color: red;
    background: transparent;
}
.field_with_errors input {
    border: thin solid red;
}

/*custom flash alerts*/
.alert-notice {
    background-color: rgba(144, 175, 181, .2);
    font-family: "Inconsolata", Helvetica Neue, sans-serif; 
    border-color: $border-color;
    color: $base-purp;
    text-align: left;
}

/*error message formatting*/
/*for errors in creating/updating a payam*/

#error_explanation {
    font-family: "Asap",  Helvetica Neue, sans-serif;
}

#error_explanation li {
    font-size: 20px; 
    color: $blue-comp;
}


//*LINKS AND BUTTONS*//

/*custom link color*/
a {
    color: $blue-comp;
    // text-decoration: underline;
}

a:hover,
a:focus {
    color: $brown-comp-2;
}

/*custom default button*/
.btn-default {
    min-height:35px;
    width:auto;
    // display:inline-block;
    // padding:.1rem 1.5rem;
    cursor:pointer;
    outline:none;
    text-decoration:none;
    color:#fff;
    // font-family:Open Sans,sans-serif;
    font-family: "Asap",  Helvetica Neue, sans-serif;
    font-size:11px;
    line-height:13px;
    font-weight:300;
    text-align:center;
    letter-spacing:1px;
    text-transform:uppercase;
    text-shadow:none;
    border-radius:.3rem;
    border:.1em solid rgba(0,0,0,.05);
    background: $brown-comp;

}

.btn-default:hover,
.btn-default:focus {
    background: $brown-comp-2;
}

/*custom decomp button*/
.btn-decomp,
.btn-decomp:hover,
.btn-decomp:focus {
    min-height:35px;
    width:auto;
    display:inline-block;
    padding:.1rem 1.5rem;
    cursor:pointer;
    outline:none;
    text-decoration:none;
    color:#fff;
    // font-family:Open Sans,sans-serif;
    font-family: "Asap",  Helvetica Neue, sans-serif;
    font-size:11px;
    line-height:13px;
    font-weight:300;
    text-align:center;
    letter-spacing:1px;
    text-transform:uppercase;
    text-shadow:none;
    border-radius:.3rem;
    border:.1em solid rgba(0,0,0,.05);
    background:#aa2537;

}

//*CONTAINERS*//

.container {
}

/*flex containers*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: row;
    flex-direction: row;
}

.flex-container-column {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: column;
    flex-direction: column;
}

//*BACKGROUND DIV STYLES*//

.base-plaque {
    background: radial-gradient(closest-side, #fffef8, $default-background);
}

.base-plaque-new-payam {
    background-color: $super-light-purp;
}

.side-plaque {
}

.top-plaque {
    justify-content: space-around;
    border: none;
    padding-top: 10px;
}

.payam-title {
    font-size: 22px;
    opacity: .7;
    letter-spacing: 17px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px;
}

.payam-title a:hover {
    text-decoration: none;
}

.payam-form-text {
    text-transform: uppercase;
    opacity: .7;
    padding: 5px;
    margin: 5px;
}

.non-payam-title {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 17px;
    opacity: .7;
    text-transform: uppercase;
}

#incomplete-payam-text {
    font-weight: 200;
    letter-spacing: 8px;
    font-size: 18px;
    opacity: .7;
    text-transform: uppercase;
    line-height: 1.6em;
    padding: 4px;
    margin: 5px;
}


//*STRUCTURE FOR BACKGROUND BARELY SEEN TEXT*//

/*Container outside of all content to be held; add this style to flex-container-column*/
.inlay-holder {
    min-height: 100px;
    width: 100%;
    position: relative;
    justify-content: center; 
    align-items: center; 
}

/*set position for overlapping divs*/
.plaque,
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
/*Container for background text and color; add this style to flex-container*/
.plaque {
    font-weight: 200;
    opacity: .8;
    text-transform: uppercase;
    justify-content: center; 
    background-color: #FFF;
    align-items: center; 
}
/*Container for background text; add this style to container*/
.plaque-letters {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    opacity: .3;
    color: #F1F1FF;
}
/*Close plaque-letters container*/
/*Close plaque flex-container*/

/*Container for the content on top; add this style to flex-container-column*/
.overlay {
    font-weight: 200;
    opacity: .8;
    text-transform: uppercase;
    justify-content: center; 
    align-items: center; 
    z-index: 10;
}
/*Add content to a div container*/

.overlay a {
    cursor: pointer;
}
/*Close container div*/
/*Close inlay-holder container*/

/*dropdown of payams to work on*/

.initially-hidden, .hidden-workers, .intro-paragraphs {
    display: none;
}

#greeter {
    cursor: pointer;
}

.hidden-workers {
    font-style: italic;
}

/*username above intro on player show page*/
.headsup {
    text-transform: uppercase;
    justify-content: center; 
    font-weight: 200;
    opacity: .8;
    background-color: #FFF;
    align-items: center; 
    // color: 
}

//*FORM INPUTS HOVER CHANGE COLOR STUFF*//

/*normal inputs*/
.input-box { 
    color: $blue-comp;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.input-box:hover {
    background: $brown-comp;
    color: $blue-comp;
}
.input-box:focus {
    color: $blue-comp;
    background: $brown-comp;
}
.input-box::placeholder {
    color: $light-purp;
    font-size: 0.875em;
    font-style: italic;
}

.input-box:focus::placeholder {
    color: $base-purp;
    opacity: .4;
}

.input-box:hover::placeholder {
    color: $base-purp;
    font-size: 0.875em;
}


/*dropdown menus*/
.input-box-dropdown { 
    color: $light-purp;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.input-box-dropdown > option:nth-child(0) {
    font-style: italic;
}

.input-box-dropdown:hover {
    background: $brown-comp;
    color: $blue-comp;
}
.input-box-dropdown:focus {
    color: $blue-comp;
}
/*random formatting*/
.container-child {
    // padding: 10px;
    // margin: 15px;
}

.payam-margins-10 {
    margin: 10px;
}

//*COLOR EXPERIMENTS*//

.color-primary-0 { color: #F9FAFF }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #FFFFFF }
.color-primary-3 { color: #BEC8FF }
.color-primary-4 { color: #90A1FE }

.color-secondary-1-0 { color: #FBF9FF }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #FFFFFF }
.color-secondary-1-3 { color: #D3BCFF }
.color-secondary-1-4 { color: #B38CFE }

.color-secondary-2-0 { color: #FFFEF8 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FFFFFF }
.color-secondary-2-3 { color: #FFF5B5 }
.color-secondary-2-4 { color: #FFEF80 }

.color-complement-0 { color: #FFFDF8 }	/* Main Complement color */
.color-complement-1 { color: #FFFFFF }
.color-complement-2 { color: #FFFFFF }
.color-complement-3 { color: #FFEAB5 }
.color-complement-4 { color: #FFDA80 }


