// @import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*animations*/

@keyframes outFader {
    from {color: red; opacity: 1.3}
    to {color: red; opacity: 0.0};
};

@keyframes inFader {
    from {color: red; opacity: 0.0}
    to {color: black; opacity: 1.0};
};

.fadeOut {
    color: red;
    animation: outFader 3s;
    animation-fill-mode: forwards;
};

.fadeIn {
    animation: inFader 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
};

    
/*colors*/

$light-purp: #ddf;
$base-purp: #320266;
//old base #edf
$first-comp: #e6ddff;
$second-comp: #5f90cc;
$green-comp: #99e699;

/*for cover background picture*/
html {
    min-height: 100%;
    position: relative;
}

.full {
    background: url('vache-text.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    background-color: inherit;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: "Iconsolata",  Helvetica Neue, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 1000px;
    background-color: #333;
    background-image: inherit;
    background-size: inherit;
    /*opacity: .8;
    background-color: inherit;*/
    padding-bottom: 20px;
    color: #111;
    text-align: auto;
    /*text-shadow: 0 .5px 1px rgba(0,0,0,.5);*/
}

/*book looking font*/
.goudy {
    font-family: "Iconsolata", Helvetica Neue, sans-serif;
}

/*Add a bit of shading between sections*/
.site-wrapper {
    -webkit-box-shadow: inset 0 10px 25px -6px rgba(0,0,0,.5);
    box-shadow: inset 0 10px 25px -6px rgba(0,0,0,.5);
}

/*custom link color*/
a {
    color: $second-comp;
}

a:hover,
a:focus {
    color: #7e5fcc;
}

/*custom default button*/
.btn-default,
.btn-default:hover,
.btn-default:focus {
  min-height:35px;
  width:auto;
  display:inline-block;
  padding:.1rem 1.5rem;
  cursor:pointer;
  outline:none;
  text-decoration:none;
  color:#fff;
  font-family:Open Sans,sans-serif;
  font-size:11px;
  line-height:13px;
  font-weight:300;
  text-align:center;
  letter-spacing:1px;
  text-transform:uppercase;
  text-shadow:none;
  border-radius:.3rem;
  border:.1em solid rgba(0,0,0,.05);
  background:#5ba4e5;

}

.btn-decomp,
.btn-decomp:hover,
.btn-decomp:focus {
  min-height:35px;
  width:auto;
  display:inline-block;
  padding:.1rem 1.5rem;
  cursor:pointer;
  outline:none;
  text-decoration:none;
  color:#fff;
  font-family:Open Sans,sans-serif;
  font-size:11px;
  line-height:13px;
  font-weight:300;
  text-align:center;
  letter-spacing:1px;
  text-transform:uppercase;
  text-shadow:none;
  border-radius:.3rem;
  border:.1em solid rgba(0,0,0,.05);
  background:#aa2537;

}

/*(B)ig first letter of a line. You know, FANCY */
.biginner {
    font-family: cursive;
    font-size: 46px;
    color: $base-purp;
}

/*custom footer settings*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #444;
}


/*custom error fields*/
.form_errors { color: red }

.field_with_errors {
    color: red;
    background: transparent;
}
.field_with_errors input {
    border: thin solid red;
}

/*custom flash*/
.alert-notice {
    background-color: rgba(95, 201, 79, .2);
    border-color: #111111;
    color: #111;
    text-align: left;
}

.headsup {
    color: $base-purp;
}

/*containers!!!*/

.container {
    // width: auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: row;
    flex-direction: row;
}

.flex-container-column {
    display: -webkit-flex;
    display: flex;
    webkit-flex-direction: column;
    flex-direction: column;
}

.markee {
    font-size: 32px;
}

.text-boxer {
    padding: 15px;
    box-shadow: 0px 0px 70px 70px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, .7);
    border: none;
}

.base-plaque {
    justify-content: space-between;
    border: none;
    padding: 20px 20px 40px 20px;
    box-shadow: 0px 0px 70px 70px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, .7);
}

.side-plaque {
    border: none;
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 0px 70px 70px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, .7);

}

.side-plaque > .container {
    text-align: center;
}

.top-plaque {
    justify-content: space-around;
    border: none;
    padding-top: 10px;
    background-color: rgba(200, 200, 200, .36);

}

.form-horizontal .container {
    text-align: center; 
}

.col-sm-6 .form-control {
    text-align: center; 
}

.dubs {
    font-size: 24px;
    padding: 10px;

}

#first-comp {
    color: $first-comp;
}

#base-purp {
    color: $base-purp;
}

.base-purp {
    color: $base-purp;
}

#navbarCollapse a {
    color: $light-purp;
}

#brando {
    color: $light-purp;
}

#navbarCollapse ul.dropdown-menu a {
    color: #5f5fcc;
}

#decomp-holder {
    margin: 10px;
    padding: 10px; 
}

.PostContent {
    color: #111;
    max-width: 1255px;
    padding: 0 25px;
    margin: 0 auto;
    // box-sizing: border-box;
    // word-wrap: break-word;
    font-size: 62.5%;
    // text-rendering: optimizeLegibility;
    line-height: 1.15;
}
