<footer class="footer">
  <div class="container goudy">

    <p class="text-muted">We stand eternally frozen in the unreachable moments of the past, and there we live forever.</p>

  </div>
</footer>
